@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,900";
@import "https://fonts.googleapis.com/css?family=Raleway";

// 1. Custom variables and variable overwrites.
$global-font-family:"Raleway", Arial, Helvetica, sans-serif;
$base-heading-font-family: "Playfair Display", serif;
$base-body-background:rgba(12, 12, 12, 1);
$global-primary-background:hsl(95, 84%, 78%);
$global-secondary-background: complement($global-primary-background);
$base-heading-color:rgba(200, 200, 200, 1);
$base-body-color:rgba(200, 200, 200, 1);
$button-text-hover-color:$global-primary-background;
$button-text-color:$global-primary-background;
$base-link-color: $global-primary-background;
$base-link-hover-color: lighten($global-primary-background, 5);
$navbar-nav-item-active-color: $global-primary-background;
$column-divider-rule-color:$global-primary-background;

// 2. Import default variables and available mixins.
@import "../scss/variables-theme.scss";
@import "../scss/mixins-theme.scss";

// 3. Custom mixin overwrites.
 @mixin hook-form-label(){
 	color: $global-primary-background;
 	font-size: 1.2em;
 }

 @mixin hook-form(){
 	background-color: $base-body-background;
 	border-bottom: 1px solid $global-primary-background;
 	width:75%;
 }

 @mixin hook-form-focus(){
 	background-color: $base-body-background;
 	color: $base-body-color;   
 }

 @mixin hook-form-legend(){
 	width:60%;
 }
@mixin hook-dropdown(){
	background-color: $base-body-background;
	color:  $global-primary-background;
	border: 1px solid $global-primary-background;
}

// 4. Import UIkit.
@import "../scss/uikit-theme.scss";


// 5. Custom styles
@media (max-width: $breakpoint-small) { 
  .uk-form-width-large {
	    width: 80%;
	    min-width:300px;
	}
}

.home-link {
	/*image transitions and transforms*/
	transition: transform 100ms ease-out,
		      	filter 50ms ease-out;
	&:hover {
		transform: translate(0, -1em) scale(1.05);
		filter: brightness(0.7);
	}
}

.uk-navbar-nav > li > .uk-button-text::before {  
  bottom: 30px;   
}
.uk-fieldset {
    border: 1px solid $global-primary-background;
    padding:1em;
    
}
.uk-height-large {
  height: 650px;
}

.divider{
	border-bottom: 1px solid $global-primary-background;
}

ul:not([class="uk-navbar-nav"]) > li {
	color: $global-primary-background;
}
h1[uk-parallax]{
	color: $base-body-background;
	font-weight: 900;
	font-size: 4.5em;
	font-family:$global-font-family;
}

form *:focus {
	outline: none;    
    box-shadow: 0 0 3px $global-primary-background;
    text-decoration:underline;
    text-decoration-skip: ink;
}

.logo{
	width:3em;
}

/*-- getbootstrap.com -- .sr-only class  */
[uk-icon] span,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
